<a href="https://colab.research.google.com/github/Mrun-byte/IMS-summerolymics/blob/main/summerOlympics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Summer Olympics Data Analysis Assignment

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("summer.csv")

### In how many cities Summer Olympics is held so far?

In [3]:
df["City"].nunique()

22

In [4]:
list(df["City"].unique())

['Athens',
 'Paris',
 'St Louis',
 'London',
 'Stockholm',
 'Antwerp',
 'Amsterdam',
 'Los Angeles',
 'Berlin',
 'Helsinki',
 'Melbourne / Stockholm',
 'Rome',
 'Tokyo',
 'Mexico',
 'Munich',
 'Montreal',
 'Moscow',
 'Seoul',
 'Barcelona',
 'Atlanta',
 'Sydney',
 'Beijing']

### 2.Which sport is having most number of Gold medals so far?

In [5]:
df[df["Medal"]=="Gold"].Sport.value_counts().head()

Aquatics      1421
Athletics     1215
Rowing         890
Gymnastics     820
Fencing        552
Name: Sport, dtype: int64

### 3.Which sport is having most number of medals so far?

In [6]:
df.Sport.value_counts().head()

Aquatics      4170
Athletics     3638
Rowing        2667
Gymnastics    2307
Fencing       1613
Name: Sport, dtype: int64

### 4.Which player has won most number of medals?

In [7]:
df.Athlete.value_counts().head()

PHELPS, Michael       22
LATYNINA, Larisa      18
ANDRIANOV, Nikolay    15
SHAKHLIN, Boris       13
ONO, Takashi          13
Name: Athlete, dtype: int64

### 5.Which player has won most number of Gold medals of medals?

In [8]:
df[df.Medal=="Gold"].Athlete.value_counts().head()

PHELPS, Michael     18
LEWIS, Carl          9
NURMI, Paavo         9
SPITZ, Mark          9
LATYNINA, Larisa     9
Name: Athlete, dtype: int64

### 6.In which year India won first Gold medal in Summer Olympics?

In [9]:
df2=df[df.Medal=="Gold"]
min(df2[df2.Country=="IND"].Year)

1928

### 7.Which event is most popular in terms on number of players?

In [11]:
df["Event"].value_counts().head()

Football            1497
Hockey              1422
Team Competition    1147
Basketball          1012
Handball             973
Name: Event, dtype: int64

### 8.Which sport is having most female Gold Medalist?

In [12]:
df2=df[df.Medal=="Gold"]
df2[df2.Gender=="Women"].Sport.value_counts().head()

Aquatics      589
Athletics     389
Gymnastics    268
Rowing        217
Volleyball    166
Name: Sport, dtype: int64